@* @inject Nav nav *@

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadData"/>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        
        <partial name="_Preloader" />
        @* @Html.Partial("_Nav",nav.NavFun()); *@
        @await Component.InvokeAsync("Nav2")

      
        <partial name="_AsideBar"/>
        <div class="content-wrapper">
              @RenderBody()
        </div>
        <partial name="_Footer"/>
       <partial name="_ControlSideBar" />
    </div>
    <partial name="_Scripts"/>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>


